/**
 *  Exports colors variables for stylesheets as scss variables..
 */

// main schema
$light-shades: #F7FCFF; // Use this color as the background for your dark-on-light designs, or the text color of an inverted design.
$light-accent: #6DC15F; // Accent colors can be used to bring attention to design elements by contrasting with the rest of the palette.
$main: #0861A5;         // This color should be eye-catching but not harsh. It can be liberally applied to your layout as its main identity.
$dark-accent: #718580;  // Another accent color to consider. Not all colors have to be used - sometimes a simple color scheme works best.
$dark-shades: #233638;  // Use as the text color for dark-on-light designs, or as the background for inverted designs.

// color semantics
$default: #999999;
$primary: #1662ab;
$info: #233638;
$success: #3c986b;
$warning: #b98833;
$danger: #f44336;

// monochromatic
$mono1: #448BC2;
$mono2: #2078BB;
$mono3: #0861A5;
$mono4: #064C83;
$mono5: #043B66;

$transparency: .8;

:export {
  lightShades: $light-shades;
  lightAccent: $light-accent;
  main: $main;
  darkAccent: $dark-accent;
  darkShades: $dark-shades;
  primary: $primary;
  info: $info;
  warning: $warning;
  danger: $danger;
  mono1: rgba($mono1, 1);
  mono2: rgba($mono2, 1);
  mono3: $mono3;
  mono4: $mono4;
  mono5: $mono5;
  
  chartMono1: rgba($mono1, $transparency);
  chartMono2: rgba($mono2, $transparency);
  chartMono3: rgba($mono3, $transparency);
  chartMono4: rgba($mono4, $transparency);
  chartMono5: rgba($mono5, $transparency);
  chartTooltip: rgba($info, .9);
}